@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(50deg, #e32222, #ce57a8);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 60px 35px;
    text-align: center;
    max-width: 100%;
    width: 750px;
}

h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 550px;
}

.btn {
    background: linear-gradient(50deg, #ce57a8, #e32222);
    color: #fafafa;
    border: 0;
    border-radius: 20px;
    padding: 10px 22px;
    font-size: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.97);
}

.btn:focus {
    outline: 0;
}